@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Sora", sans-serif;
  background-color: #f6f6f6;
}
.main-color{
  background-color: #9538E2;
}
.text-light{
  color: rgba(9, 8, 15, 0.6);
}
.tag-color{
  color: #309C08;
}
.tag-bg{
  background-color: rgba(48, 156, 8, 0.1);
}
.border-radious-bottom{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}
.border-radious-top{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}
.active{
  text-decoration: underline;
}
.btn-active{
  background-color: #9538E2;
  color: white;
  padding: 5px 15px;
  border-radius: 24px;
}
.pending{
  /* px-4 py-2 bg-[#f6f6f6] rounded-2xl */
  padding: 5px 15px;
  background-color: white;
  border-radius: 24px;
}
