@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Sora", sans-serif;
}
.main-color{
  background-color: #9538E2;
}
.text-light{
  color: rgba(9, 8, 15, 0.6);
}
.gray-body{
  background-color: #D9D9D9;
}
.tag-color{
  color: #309C08;
}
.tag-bg{
  background-color: rgba(48, 156, 8, 0.1);
}
.border-radious-bottom{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}
.border-radious-top{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}
.b-opacity{
  opacity: 50%;
}